.error .form-control,
.fileinput-group.error .form-control,
.form-control.error,
.form-textarea.error {
    position: relative;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(203, 105, 69, 1);
	        box-shadow: 0px 0px 5px 0px rgba(203, 105, 69, 1);
	border: 1px solid #cb6945\9;
}
.form-control.error:focus,
.form-textarea.error:focus {
	border-color: #d6d5d3;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(203, 105, 69, 1);
	        box-shadow: 0px 0px 5px 0px rgba(203, 105, 69, 1);
}