.btn {
    display: inline-block;
    vertical-align: middle;
    max-width: @btn-max-width;
    padding: 7px 22px;
    margin-bottom: 0;
    border: 1px solid transparent;
    font-family: OpenSansSemiBold, Arial, sans-serif;
    font-weight: bold;
    font-size: @base-font-size;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    background-image: none;
    text-shadow: -0.5px 1px 0 rgba(255, 255, 255, .75);
    -ms-word-break: break-all;
    word-break: break-all;
    &:focus {
        outline: none;
    }
    &:active {
        text-shadow: -0.5px 1px 0 0 rgba(102, 102, 101, 1);
        outline: 0;
    }
}

.btn-primary {
    text-shadow: 0 1px 0 0 rgba(255, 255, 255, .75);
    color: @btn-primary-color;
    border-color: @btn-primary-border-color;
    .box-shadow-double(0px 2px 1px 0px rgba(9, 9, 9, 0.063), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.118));
   .vertical-gradient(#7ee8cd, #3eb799);

    &:hover {
        .vertical-gradient(#90dbbd, #659f87);
    }

    &:active {
        color: @btn-primary-color-active;
        .vertical-gradient-three-colors(#79bba0, #497663, rgba(97, 152, 130, 1), 52%);
    }
}

.btn-default {
    border-color: @btn-default-border-color;
    color: @btn-default-color;
    .box-shadow-double(0 2px 1px 0 rgba(17, 17, 17, .07), inset 0 -2px 3px 0 rgba(45, 45, 45, .05));
    .vertical-gradient-three-colors( #ffffff, #e7e4e4, rgba(250, 249, 249, 1), 6%);

    &:hover {
        border-color: @btn-default-border-color-hover;
        .vertical-gradient-four-colors(#e7e6e6, #c0bebe, rgba(229, 227, 227, 1), 10%, rgba(226, 224, 224, 1), 13%);
    }

    &:active {
        color: @btn-default-color-active;
        border-color: @btn-default-border-color-active;
        .vertical-gradient(#a9a8a8, #7b7878);
    }
}



