.page-header {
    margin-bottom: 35px;
    border-bottom: 7px solid #fff;
    background: @page-header-bg url(@page-header-img) repeat;
    .box-shadow(0 1px 0 1px rgba(0, 0, 0, 0.085));
}

.page-header-container {
    width: @page-header-container-width;
    margin: 0 auto;
    .clearfix();
}

.logo {
    display: block;
    float: left;
    width: @logo-width;
    height: @logo-height;
    margin-left: 9px;
    margin-top: 9px;
    .hide-anchor-text();
}

.logo-img {
    width: 100%;
}

.socials {
    float: right;
    margin: 0;
    padding: 23px 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
}

.socials-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    font-size: @base-font-size;
    &:last-child {
        margin-right: 0;
    }
}

.socials-link {
    position: relative;
    display: block;
    width: @socials-link-width;
    height: @socials-link-height;
    .hide-anchor-text();
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: @socials-link-width;
        height: @socials-link-height;
    }
}

.socials-link-fsb {
    &:after {
        background: url(@path-spritesheet) no-repeat -119px -5px;
    }
    &:hover:after {
        background-position: -5px -59px;
    }
}

.socials-link-vk {
    &:after {
        background: url(@path-spritesheet) no-repeat -189px -145px;
    }
    &:hover:after {
        background-position: -249px -5px;
    }
}

.socials-link-tw {
    &:after {
        background: url(@path-spritesheet) no-repeat -197px -5px;
    }
    &:hover:after {
        background-position: -193px -59px;
    }
}

.socials-link-git {
    &:after {
        background: url(@path-spritesheet) no-repeat -57px -59px;
    }
    &:hover:after {
        background-position: -109px -59px;
    }
}
