.section-projects .section-body {
    min-height: @sectionprojects-min-height;
    font-size: 0;
}

.project-list {
    margin: 0;
    margin-left: -33px;
    padding: 0;
    list-style: none;
}

.project-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: @project-item-width;
    margin-left: 33px;
    margin-bottom: 30px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    font-size: @base-font-size;
    .box-shadow(0 2px 1px 0 rgba(9, 9, 9, 0.07));
    background: #fff;
}

.project-preview {
    position: relative;
    display: block;
    width: @project-preview-width;
    height: @project-preview-height;
    border-bottom: 1px solid #c5c5c5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.project-preview-link {
    display: none;
    .project-item:hover & {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 165px;
        height: 120px;
        padding-top: 40px;
        text-align: center;
        z-index: 50;
        background: #666;
        background: rgba(102,102,102,.7);
    }
    .btn {
        text-decoration: none;
    }
}

.project-img {
    width: 100%;
}

.project-link {
    display: block;
    padding: 6px 10px;
    font-family: OpenSansSemiBold, Arial, sans-serif;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #727070;
    word-break: break-all;
    background-color: #f2f2f2;
    .box-shadow(inset 0 -2px 1px 0 rgba(10, 10, 10, 0.02));
    &:hover {
        text-decoration: underline;
    }
}

.project-desc {
    margin: 0;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 16px;
    font-family: OpenSansLight, Arial, sans-serif;
    text-align: center;
}

.project-item-add {
    .project-preview {
        height: 135px;
        border-radius: 4px;
        text-align: center;
        color: #727070;
        .box-shadow(inset 0 -2px 3px 0 rgba(41, 41, 41, 0.02));
        .vertical-gradient-three-colors(#ffffff, #edebea, rgba(251, 249, 249, 1), 50%);

        &:before,
        &:hover:before,
        &:hover:after {
            content: " ";
            display: none;
        }
        &:hover {
            background: none;
            opacity: 1;
            .vertical-gradient-four-colors(#e8e7e7, #c2c0c0, rgba(230, 228, 228, 1), 10%, rgba(227, 225, 225, 1), 13%);
            cursor: pointer;
            z-index: 2;
            .icon {
                background-color: rgb(191, 191, 191);
                .box-shadow-double(0 1px 0 0 rgba(255, 255, 255, 0.392), inset 0 1px 0 0 rgba(199, 199, 199, 0.294));
            }
        }
    }
    .icon {
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: -27px;
        margin-top: 0;
    }

    .project-desc {
        position: relative;
        display: inline-block;
        padding: 90px 10px 10px;
        font-family: OpenSansSemiBold, Arial, sans-serif;
        line-height: 22px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    }
}


