.layout-header {
    margin-bottom: 35px;
    border-bottom: 7px solid #fff;
    background: #747272 url("../img/bg-header.jpg") repeat;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.039);
}
.layout-header-container {
    width: 1200px;
    margin: 0 auto;
}
.layout-header-container:before,
.layout-header-container:after {
    content: " ";
    display: table;
}
.layout-header-container:after {
    clear: both;
}
.layout-header-container {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 120px;
    height: 90px;
    padding-left: 9px;
    padding-top: 9px;
    white-space: nowrap;
}
.logo-img {
    display: inline-block;    
    vertical-align: top;
    width: 95px;
    height: 70px;
}
.logo-text {
    display: inline-block;    
    vertical-align: top;
    text-indent: 100%;    
    overflow: hidden;
}
.socials {
    float: right;
    width: 240px;
    margin: 0;
    padding: 23px 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
    text-align: right;
}
.socials-item {
    display: inline-block;    
    margin-right: 8px;
    vertical-align: top;
    font-size: 14px;
}
.socials-item:last-child{
    margin-right: 0;
}
.socials-link {
    position: relative;
    display: block;    
    width: 42px;
    height: 44px;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.socials-link-fsb:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 44px;
    background: url("/img/spritesheet.png") no-repeat -119px -5px;
}

.socials-link-fsb:hover:after {
    width: 42px;
    height: 44px;
    background-position: -5px -59px;
}
.socials-link-vk:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 44px;
    background: url("/img/spritesheet.png") no-repeat -131px -145px;
}

.socials-link-vk:hover:after {
    width: 42px;
    height: 44px;
    background-position: -183px -145px;
}
.socials-link-tw:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 44px;
    background: url("/img/spritesheet.png") no-repeat -171px -5px;
}

.socials-link-tw:hover:after {
    width: 42px;
    height: 44px;
    background-position: -187px -59px;
}
.socials-link-git:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 44px;
    background: url("/img/spritesheet.png") no-repeat -83px -59px;
}

.socials-link-git:hover:after {
    width: 42px;
    height: 44px;
    background-position: -135px -59px;
}