.container {
    width: 960px;
    margin: 0 auto;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.sidebar {
    float: left;
    width: 250px;
    margin-right: 60px;
}
.main-content {
    float: left;
    width: 650px;
}